:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Inter";
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
}

.container__elentos {
  margin: 0% 5%;
}

.container__img {
  margin-bottom: 3rem;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin: 1rem 0rem;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.secundario {
  margin: 0% 5%;
}

.secundario__texto {
  text-align: left;
  margin: 0rem 2rem;
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 8%;
  text-align: center;
  font-size: 2rem;
}

.box-lista {
  display: flex;
}

.box-topic {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

h3 {
  font-size: 1.5rem;
}
